

header{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo{
        font-size: 26px;
        color: #000;
    }

    &-btn{
        padding: 10px 15px;
        border: 1px solid silver;
        background-color: transparent;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
    }
}